# Firebase Configuration for HofTausch
# Kopieren Sie diese Datei zu `.env` in diesem Verzeichnis und tragen Sie Ihre echten Firebase-Schlüssel ein.
# Achten Sie darauf, keine Anführungszeichen um die Werte zu setzen.

VITE_FIREBASE_API_KEY="[GCP_API_KEY]"
VITE_FIREBASE_AUTH_DOMAIN="trade-efb81.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="trade-efb81"
VITE_FIREBASE_STORAGE_BUCKET=trade-efb81.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1091547534386
VITE_FIREBASE_APP_ID=1:1091547534386:web:3ee0e849846a23e976982b


# Umami Analytics Configuration (Optional)
# VITE_UMAMI_WEBSITE_ID="dein-website-id-von-umami"
# VITE_UMAMI_SCRIPT_URL="https://cloud.umami.is/script.js"
# VITE_UMAMI_DOMAINS="kevingadient.github.io"
